/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos para el header */
header {
    width: 100%;
}

.minwidth {
    margin: auto;
    max-width: 1250px;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

.contact-info {
    font-size: 14px;
}

/* Navegación principal */
.main-nav {
    background-color: white;
    position: relative;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav ul li a {
    text-decoration: none;
    padding: 15px 0;
    display: block;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

.login-register {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.login-register a {
    text-decoration: none;
    margin-left: 10px;
}

.login-register a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
   /* position: absolute;
    background-size: cover;
    background-position: center;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgHero{
    height: 515px;
    width: 100%;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.explore-btn {
    background-color: #f8b400;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
}

.explore-btn:hover {
    background-color: #e09e00;
}

/* Booking Bar */
.booking-bar {
    background-color: #444;
    padding: 20px 0;
    text-align: center;
}

.booking-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-group {
    margin: 0 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 5px;
    font-size: 14px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #f8b400;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #e09e00;
}
